.book-collection {
    padding-bottom: 50px;      
}
/* Recent Book Container */
.recent-book-container {
    /* margin: 0 60px; */
    margin-bottom: 0;    
    min-height: 600px;
    background: rgba(251, 253, 253, 0.962);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .16);  
    padding-bottom: 30px;  
}
.recent-book-container .col-md-4 {
    padding: 30px;
}
.recent-book-container .heading {    
    padding-top: 40px;
    padding-left: 15px;
    padding-bottom: 20px;
}
.recent-book-container .heading h4 {
    font-size: 26px;
    color: rgb(102, 102, 102);  
}