<div class="nav">

  <div class="brand-container">
    <a href="">
      <img src="assets/logo.png" alt="">
    </a>
  </div>

  <div 
    class="nav-toggle" 
    (click)="onToggleNav()"
    [ngClass]="isOpenNav ? 'open-nav' : '' ">
    <div class="nav-toggle-btn"></div>
  </div>

  <div 
    class="nav-item-container"
    [ngClass]="isOpenNav ? 'open-nav-container' : '' ">
    <ul class="nav-items">
      <li class="nav-item">
        <img 
          src="assets/logo.png" 
          alt=""
          class="img-thumbnail img-responsive profile-img"> 
          Hi {{userName}}
      </li>
      <li class="nav-item" routerLinkActive="nav-item-active">
        <a routerLink="/dashboard/home">
          <p>
            <i class="fa fa-home"></i>
            Home
          </p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="nav-item-active">
        <a routerLink="/dashboard/addBook">
          <p>
            <i class="fa fa-plus-square"></i>
            Add a Book
          </p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="nav-item-active">
        <a routerLink="/dashboard/collection">
          <p>
            <i class="fa fa-th-large"></i>
            View all Books
          </p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="nav-item-active">
        <a (click)="onLogOut()">
          <p>
            <i class="fa fa-sign-out-alt"></i>
            Log Out
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>
  

