.home {
    padding-bottom: 60px;
}

/* Add Book Container */
.add-book-container {
    margin: 50px 0;
    height: 120px;    
    color: #111;
    background: linear-gradient(to right, rgba(201, 53, 53, 0.62), rgba(101, 27, 27, 0.62));    
}
.add-book-container h3 {
    line-height: 120px;
    margin-left: 25px;
}
.add-book-container a {
    color: #111;    
    line-height: 120px;
    text-decoration: none;
}

/* Recent Book Container */
.recent-book-container {
    margin: 0 60px;    
    min-height: 600px;
    background: linear-gradient(to right, rgba(201, 53, 53, 0.62), rgba(101, 27, 27, 0.62));    
    box-shadow: 0 10px 20px rgba(0, 0, 0, .16);  
    padding-bottom: 30px;  
}
.recent-book-container .col-md-4 {
    padding: 30px;
}
.recent-book-container .heading {    
    padding-top: 40px;
    padding-left: 15px;
    padding-bottom: 20px;
}
.recent-book-container .heading h4 {
    font-size: 26px;
    color: rgb(10, 10, 10);  
}