.book-item {
    height: 300px;
    width: 320px;
    background: rgba(255, 255, 255, 0.8);
    margin: 50px 480px;
    box-shadow: 4px 20px 20px rgba(1, 1, 1, 0.16);
    transition: .5s;
    overflow: hidden;
}
.book-item:hover {
    box-shadow: 4px 10px 8px rgba(1, 1, 1, 0.16);
}
.book-item .upper-section {
    height: 160px;
    text-align: center;
    background: rgba(1, 1, 1, 0.3);
}
.book-item .upper-section img {
    max-width: 100%;
    max-height: 100%;    
}
.book-item .lower-section {
    height: 140px;
    z-index: 1;
}
.book-item .lower-section h4 {
    font-size: 17px;
    color: rgba(72, 64, 64, 0.98);
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
    padding: 15px;    
}
.book-item .lower-section .content {
    padding: 10px 15px;
    z-index: 1;
}
.book-item .lower-section.hide-content .content {
    opacity: 0.8;
    filter: blur(3px);
}
.book-item .lower-section .content span {
    font-size: 12px;
    color: #999999;
    margin-right: 100px; 
    text-transform: capitalize;
    font-weight: lighter;  
    z-index: 1;  
}

.book-item .menu-section {
    position: relative;
    height: 100px;   
    z-index: 10;   
    top: 0;
    transition: .5s;  
}
.book-item .menu-section.show-menu {
    top: -80px;
}
.book-item .menu-section .menu-toggle {
    text-align: right;
    padding: 5px 15px;
    margin-top: -35px;  
    transition: .3s;
}
.book-item .menu-section .menu-toggle span {
    cursor: pointer;
}

.book-item .menu-section .menu {
    background: rgba(254, 254, 254, 0.2);    
    height: 100%;    
    margin-top: 0;
    padding-top: 15px;    
    z-index: 10;
}
.book-item .menu-section .menu .menu-items .menu-item {
    list-style: none;
    height: 50px;
    width: 50px;
    display: inline-block;
    color: #411919;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    margin: 0 15px;
    margin-top: 80px;
    border-radius: 40px;    
    background: linear-gradient( rgba(255, 67, 67, 0.62), rgba(255, 255, 255, .62));
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(1, 1, 1, 0.16);
    transition: 1s;
}
.book-item .menu-section.show-menu .menu .menu-items .menu-item {
    margin-top: 0;
}
.book-item .menu-section .menu .menu-items .menu-item span {
    z-index: 99;
}