<div class="book-item">

  <!-- Book Image -->
  <div class="upper-section">
    <img src="{{bookItem.bookImageURL}}" alt="{{bookItem.bookTitle}}" class="img-responsive">
  </div>

  <!-- Book Details -->
  <div class="lower-section" [ngClass]="isOpen ? 'hide-content' : ''">    
    <h4 title="{{bookItem.bookTitle}}">{{bookItem.bookTitle}}</h4>
    <div class="content">
      <p>
        <i class="fa fa-user"></i>
        &nbsp;
        {{bookItem.bookAuthor}}
      </p>
      <p>
        <i class="fa fa-clock"></i>
        &nbsp;
        {{bookItem.bookTimestamp | date}}
      </p>
      <br>
      <p>
        <i class="fa fa-file-alt"></i>
        &nbsp;
        {{bookItem.bookPages}} pages
      </p>
      <p>
        <i class="fa fa-star"></i>
        &nbsp;
        {{bookItem.bookRating}} / 5
      </p>
    </div>
  </div>

  <!-- Menu -->
  <div class="menu-section" [ngClass]="isOpen ? 'show-menu' : ''">
    <div class="menu-toggle">
        <span class="fa fa-angle-up" (click)="toggleMenu()"></span>      
    </div>
    <div class="menu">
      <ul class="menu-items">
        <li class="menu-item" (click)="onDelete()">
          <span class="fa fa-trash-alt"></span>
        </li>
        <li class="menu-item">
          <a class="fa fa-edit"></a>
        </li>
        <li class="menu-item">
          <a class="fa fa-share-square"></a>
        </li>
      </ul>
    </div>
  </div>
</div>