.jumbotron {
    background: url('../../../assets/landing_background.png') center center no-repeat;
    border-radius: 0;
    margin: 0;  
    min-height: 670px;   
    z-index: 1;
}
.jumbotron .content {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}
.jumbotron .content h1 {
    color: #FFFDFD;    
    font-size: 80px;   
    font-weight: 600;
    text-transform: uppercase;
}
.jumbotron .content h2 {
    color: #FFFDFD;   
    font-size: 30px;
    font-weight: lighter;
    opacity: .58;
}
.jumbotron .content .tiles {
    margin-top: 70px;
}
.jumbotron .content .tiles .tile {    
    display: inline-flex;
    margin-left: 150px;
    margin-right: 150px;
    border: 3px solid rgba(256, 256, 256, .35);
    border-radius: 8px;    
    padding: 15px 55px;
    color: rgba(256, 256, 256, .64);
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
}
.jumbotron .content .tiles .tile:first-child,
 .jumbotron .content .tiles .tile:last-child {
    margin: 0;
}
.jumbotron .content .join-btn {
    margin-top: 120px;
    padding: 10px 80px; 
    background-color: rgba(201, 53, 53, .69);
    color: rgba(256, 256, 256, .5);
    font-weight: lighter;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -o-transition:  .5s ease-in-out;
}
.jumbotron .content .join-btn:hover {
    box-shadow: 0 0 20px #222;
    color: rgba(256, 256, 256, 1);
}

/* glitch effect */
#glitch:before, #glitch:after {
    content: 'BOOKOG';
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    margin-top: 165px;
    color: #fff;        
    overflow: hidden;
}
#glitch:before {
    left: 3px;
    text-shadow: 2px 0 #00ffea;
    animation: glitch 3s infinite linear;
}
#glitch:after {
    left: 2px;
    text-shadow: -2px 0 #fe3a7f;
    animation: glitch 2s infinite linear;
}
@keyframes glitch {
    0% {
        clip: rect(55px, 9999px, 56px, 0 );
    }
    5% {
        clip: rect(47px, 9999px, 30px, 0 );
    }
    10% {
        clip: rect(33px, 9999px, 36px, 0 );
    }
    15% {
        clip: rect(35px, 9999px, 9px, 0 );
    }
    20% {
        clip: rect(63px, 9999px, 59px, 0 );
    }
    25% {
        clip: rect(96px, 9999px, 98px, 0 );
    }
    30% {
        clip: rect(48px, 9999px, 77px, 0 );
    }
    35% {
        clip: rect(50px, 9999px, 34px, 0 );
    }
    40% {
        clip: rect(60px, 9999px, 72px, 0 );
    }
    45% {
        clip: rect(10px, 9999px, 81px, 0 );
    }
    50% {
        clip: rect(2px, 9999px, 60px, 0 );
    }
    55% {
        clip: rect(23px, 9999px, 89px, 0 );
    }
    60% {
        clip: rect(76px, 9999px, 91px, 0 );
    }
    65% {
        clip: rect(62px, 9999px, 30px, 0 );
    }
    70% {
        clip: rect(60px, 9999px, 73px, 0 );
    }
    75% {
        clip: rect(60px, 9999px, 87px, 0 );
    }
    80% {
        clip: rect(2px, 9999px, 14px, 0 );
    }
    85% {
        clip: rect(28px, 9999px, 87px, 0 );
    }
    90% {
        clip: rect(73px, 9999px, 50px, 0 );
    }
    95% {
        clip: rect(79px, 9999px, 70px, 0 );
    }
    100% {
        clip: rect(17px, 9999px, 79px, 0 );
    }
}
